body{
    margin: 20px;
}


    .header {
        display: flex;
        justify-content:space-between;
        align-items: center;
        padding-top: 20px;
    }

.imgg{
    height:70px;
    width: 500px;
}   

.menu > .menu-item{
display: flex;
display: inline-block;
padding: 20px;
height: 20px;
width: 58px;
top: 50px;
border-radius: undefinedpx;
}



.section{
    text-align: center;
    background-color: rgb(187, 182, 182);
height: 700px;

font-size: 50px;
}


.secondSection {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 100px;
}

.paragraph {
    justify-content: space-between;
    font-weight: 400;
    font-size: 40px;
    text-transform: uppercase;
    max-width: 800px;
    color: #000000;
}



.container2 {
background-color: #077d46;
    font-weight: 400;
    font-size: 56px;
    
    letter-spacing: 0.04em;

    
    padding: 100px;
    color: #000000;
}
.Section4 {
    display: flex;
    justify-content: center;
    margin-top:100px;
}
.sneakers3 {
    margin-right: 140px;
}
.text {
    max-width: 500px;
}
.firstParagraph {
    font-weight: 400;
    font-size: 40px;
    line-height: 140%;
    color: #000000;
}
.secondParagraph {
    font-weight: 400;
font-size: 24px;
line-height: 160%;
color: #000000;
}


    




 



